<div class ="logo" >
  <img width="500" height="250" alt="Planeto Logo" src="assets/img/planeto.png">
</div>
<div class = "logo" >
  <div>
    <h2> Welcome to Planeto will help you optimize your event calendar</h2><br>
    <h3>Sign In to get more experience</h3>
    <img height="65"  alt="sign in Logo"  (click)="onClickMe()" src="assets/img/signin.png"><br>
    <br><img width="40%" height="30" alt="line" src="assets/img/line.png">
    <h3>New user Register here</h3>
    <img height="65" alt="Planeto Logo"  (click)="onClickMe2()" src="assets/img/signup.png">
  </div>
</div>