<div class ="logo" >
  <img width="500" height="250" alt="Planeto Logo" src="assets/img/planeto.png">
</div>
<div class = "logo">
    <div class="container">
      <form>
        <fieldset>
          <div>
              <legend><h2>Confirm Information</h2></legend>
              <h3>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name"></h3>
              <h3>Username:<input type="text" name="username"></h3>
              <h3>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="email"></h3><br><br>
          </div>  
          <button type="submit" class="btn btn-success size">Submit</button>
        </fieldset>
      </form>
    </div>
</div>